<ion-view title="'About'">
    <ion-content has-header="true" has-tabs="true">
        <div class="list list-inset about">
            <a ng-click="open('https://github.com/Arxk/twitchcast')" href="" class="item item-icon-left">View in GitHub</a>
        </div>
        <div ng-click="open('http://www.twitch.tv')" class="list-inset bottom">
            <div class="item item-image"><img src="img/twitch-tv.png"></div>
            The <u>Twitch</u> Logo is a registered trademark of Twitch.
        </div>
    </ion-content>
</ion-view>
