<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">
    <ion-tab title="Games" icon="icon ion-game-controller-a" href="#/nav/games">
        <ion-nav-view name="games-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Live" icon="icon ion-eye" href="#/nav/streams">
        <ion-nav-view name="streams-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Videos" icon="icon ion-videocamera" href="#/nav/top//week">
        <ion-nav-view name="videos-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="More" icon="icon ion-more" href="#/nav/search">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
