<style>
.item-thumbnail-left{cursor:pointer}
.item-thumbnail-left,.item-thumbnail-left .item-content{padding-left:145px}
.item-thumbnail-left .item-content>.item-image,.item-thumbnail-left .item-content>img:first-child,.item-thumbnail-left>.item-image,.item-thumbnail-left>img:first-child{top:10px;max-width:120px}
.item-thumbnail-left,.item-thumbnail-left .item-content{min-height: 95px}
</style>

<ion-view title="title">
    <ion-content has-header="true" has-tabs="true">
        <ion-list class="data">
            <ion-item class="item item-thumbnail-left" ng-repeat="item in list" type="item-text-wrap" href="#/nav/stream/{{ref}}/{{item.channel.name}}">
                <img src={{item.preview.medium}}>
                <h2>{{item.channel.status}}</h2>
                <p>Viewers: {{item.viewers}}</p>
                <p>{{item.channel.display_name}} {{item.channel.primary_team_display_name}}</p>
            </ion-item>
        </ion-list>
        
        <div ng-include="'src/views/error.html'"></div>
        <div ng-include="'src/views/pagination.html'"></div>
    </ion-content>
</ion-view>