/* COLORS */
.bar{background:#6441a5}
.tabs{color:#fff;background:#6441a5}
.button-clear.button-clear,h1{color:#fff}
.pane,.view,.item-complex .item-content,.item-radio .item-content{background-color:#fff}
.ion-record:before{content:"\f16f";color:#6441a5}
.period,.tabs-icon-bottom{background:#f1f1f1;color:#000}
.item-checkbox{color:#666}
.checkbox input:before{border:1px solid #666}
.checkbox input:checked:before{background:#6441a5}

/* GENERAL */
p{margin:0}
img{border-radius:5px}
.item-checkbox{border:none}

/* FIXES */
.scroll-bar-v{right:0}
.scroll{min-height:99.907%}
.tabs-icon-bottom .tab-item{line-height:33px}
.tabs-icon-bottom{height:34px;margin-bottom:-0.015625px}
.slider-slides{padding-top:30px;position:absolute}
.slider-pager{top:15px;z-index:-999}
.slider{position:inherit}

/* CUSTOM */
.data{margin-bottom:0}
.quality{padding-left:10%}
.period{position:relative}
.left{margin-left:20px;left:0;position:absolute}
.right{margin-right:20px;right:0;position:absolute}
.bottom{color:#666;font-size:75%;position:absolute;bottom:0;cursor:pointer}
.about h2{color:#333}